body {
    background: linear-gradient(135deg, #fcfbfa, #e15fa488);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container{
    min-width: 1080px;
    max-width: 1200px;
    border-radius: 30px;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-img{
    width: 70%;
}

.brand-logo{
    max-width: 150px;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.right{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px ;
    padding-right: 50px;
    background-color: white;
}

.right h2{
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 700;
    color: #c54a8b;
    text-align: center;
}

.signup-btn{
    width: 100%;
    padding: 12px;
    color: white;
    background-color: #c54a8b;
    transition: 0.5s;
}

.signup-btn:hover{
    color: white;
    background-color: #9b2162;
}

.signup-line{
    text-align: right;
}

.copyright-text{
    color: #616161;
    text-align: center;
    margin-top: 50px;
}